.body{
    padding: 0px;
    margin: 0px;
   
}
.id{
    color: white;
    font-family: monospace;
}

.div1{
    width: 1620px;
    height: 1620px;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
}

.div2{
    width: 1440px;
    height: 1440px;
    border-radius: 50%;
    border: 1px solid white;
}

.div3{
    width: 1260px;
    height: 1260px;
    border-radius: 50%;
    border: 1px solid white;
}

.div4{
    width: 1080px;
    height: 1080px;
    border-radius: 50%;
    border: 1px solid white;
}

.div5{
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 1px solid white;
}

.div6{
    width: 720px;
    height: 720px;
    border-radius: 50%;
    border: 1px solid white;
}

.div7{
    width: 540px;
    height: 540px;
    border-radius: 50%;
    border: 1px solid white;
}

.div8{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 1px solid white;
}

.div9{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid white;

}